<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>ListViewサンプル</title>
    <!-- Read chart.js 2.x. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <!-- cssの繋ぎこみ-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
</head>

<body>
    <h1>ListView一覧画面</h1>

    <a href="{% url 'create' %}">新規</a>

    <table border="1">
        <tr>
            <th>登録日</th>
            <th>体重</th>
            <th>詳細</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
        {% for member in object_list %}
        <tr>
            <td>{{ member.day}}</td>
            <td>{{ member.weight}}</td>
            <th><a href="{% url 'detail' member.pk %}">詳細</a></th>
            <th><a href="{% url 'update' member.pk %}">編集</a></th>
            <th><a href="{% url 'delete' member.pk %}">削除</a></th>
        </tr>
        {% endfor %}
    </table>

    <!-- chart.js描画-->
    <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["赤", "青", "黄", "緑", "紫", "橙"],
        datasets: [{
            label: '得票数',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

      <!-- jsファイル読み込み -->
      <script src="{% static 'js/test.js' %}" type="text/javascript"></script>
</body>

</html>
